version: "3.8"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: moustass_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  auth:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - auth/.env
    depends_on:
      - mysql

volumes:
  mysql-data:
