name: SonarCloud

on:
  push:
    branches: [main]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ===== AUTH =====
      - name: Install & test auth
        working-directory: auth
        run: |
          npm ci
          npm test -- --coverage

      # ===== SONARCLOUD SCAN =====
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
